<!DOCTYPE html>
<html>
    <head>
        {{ include "include/head.html" "holedaemon" }}

        <link rel="stylesheet" href="/static/index.css">
    </head>
        <aside id="bio">
            <figure class="object">
                <img id="profile-picture" src="/static/pfp.png" alt="PRIEST OF THE PIT; Known Enemy: holedaemon">
                <figcaption class="title">holedaemon</figcaption>
            </figure>
        </aside>

        <main id="content">
            <div id="about" class="object">
                <h3 class="header">ABOUT</h3>
                <p>
                    bit of a chode
                </p>
            </div>
            <div id="blog" class="object">
                <h3 class="header">BLOG</h3>

                {{ $files := listFiles "posts" }}
                {{ if eq (len $files) 0 }}
                    <p>0 posts!</p>
                {{ else }}
                    <ul id="post-list">
                        {{ range $file := $files}}
                            {{ $mdPath := printf "posts/%s" $file }}
                            {{ $md := (include $mdPath | splitFrontMatter) }}
                            {{ $title := default $md $md.Meta.title }}
                            <li>{{ $title }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </main>
    <body>
    </body>
</html>
