<!DOCTYPE html>
<html>
    <head>
        {{ include "include/head.html" "Posts" }}

        <link rel="stylesheet" href="/static/posts.css">
    </head>
    <body>
        <h1>wow it's my super cool blog</h1>
        <div id="list">
            {{ if eq (len (listFiles "/posts")) 0 }}
                My lazy ass hasn't written anything
            {{ else }}
                <ul id="posts-ul">
                    <li>
                        {{ range $file := (listFiles "/posts") }}
                            {{ $name := printf "/posts/%s" $file }}
                            {{ $coolFile := (include $name | splitFrontMatter)}}

                            <a class="list-item" href="/posts/{{ trimSuffix (ext $file) $file }}">{{ $coolFile.Meta.title }}</a>
                        {{ end }}
                    </li>
                </ul>
            {{ end }}
        </div>
    </body>
</html>