<!DOCTYPE html>
<html>
    <head>
        {{ include "include/head.html" "testimonials" }}

        <link rel="stylesheet" href="/static/testimonials.css">
    </head>
    <body>
        <div id="content">
            <div id="heading">
                <h2>Testimonials from real holedaemon.net customers</h2>
            </div>
            <p>Contact sales (sales@holedaemon.net) to discuss pricing options*</p>
            <small>*please do not contact sales im not sure what we sell</small>
        </div>

        <div id="testimonials">
            {{ $files := (listFiles "/static/testimonials") }}
            {{ if eq 0 (len $files) }}
                <p>lol none</p>
            {{ else }}
                {{ range $f := $files }}
                    {{ if or (hasSuffix ".png" $f) (hasSuffix ".jpg" $f) }}
                        <div class="testimonial">
                            <img alt="a cool testimonial" src="/static/testimonials/{{ $f }}">
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </body>
</html>