@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$background-color: #272b24;
$background-darker: #1e211c;
$text-color: #e4ebdf;
$text-highlight: #fd6d6d;
$text-highlight-dark: #ca6d6d;

.title {
    font-size: 2rem;

    font-family: 'Permanent Marker', cursive;
}
