body {
    display: grid;
    
    grid-template-columns: 25% 50% 25%;
}

#content {
    grid-column: 2/3;
}

@media screen and (max-width: 769px) {
    body {
        grid-template-columns: 10% 80% 10%;
    }
}