body {
    display: grid;

    width: calc(100vw - 16px);
    height: calc(100vh - 16px);

    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    #image-pinhead {
        width: 120px;
        height: 95px;
    }
}