#header-image {
    grid-column: 3 / 4;
    align-self: center;
    justify-self: center;
}

#about {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    border-top: 1px solid black;
    
    /* text-align: center; */
}

#sitemap {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;

    text-align: center;
}

#social-list {
    margin-bottom: 1rem;
}

#projects {
    grid-column: 4 / 5;
    grid-row: 2 / 3;

    border-top: 1px solid black;
}

#projects-list {
    margin-left: 1rem;
}

#projects-bot-list {
    list-style: disc;
    padding-left: 32px;
}

#projects-title {
    margin-bottom: 0;
}

.title {
    font-size: 36px;
    text-align: center;
}

.subtitle {
    margin-top: 0;
    font-size: 13.3333px;
    text-align: center;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;

    grid-template-rows: 1fr 3fr;
    grid-template-columns: 10vw 35vw 10vw 35vw 10vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:not(:last-child) {
    margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
    #header-image {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    #header-image {
        align-self: center;
        justify-self: center;
    }

    #about  {
        border: none;
        text-align: center;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 1rem;
    }

        
    #sitemap {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    
        text-align: center;
        margin-bottom: 1rem;
    }
    
    #social-list {
        margin-bottom: 1rem;
    }

     
    #projects {
        border-top: 1px solid black;
        text-align: center;
    }
    
    #projects-list {
        margin-left: 0;
    }
    
    #projects-bot-list {
        list-style: disc;
        padding-left: 0px;
        margin-bottom: 1rem;
    }
    
    #projects-title {
        margin-bottom: 0;
    }
    
    .title {
        font-size: 36px;
        text-align: center;
    }
    
    .subtitle {
        margin-top: 0;
        font-size: 13.3333px;
        text-align: center;
    }

    body {
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 100vh;
        margin: 0;
    
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    li:not(:last-child) {
        margin-bottom: 1rem;
    }
}